@page
@model BazeApoteka.Pages.DodajApotekuModel
@{
    ViewData["Title"] = "DodajApoteku";
}

<form method="post">
    <br />
    <div><h4>Unesite podatke nove apoteke</h4></div>
    <br />
    <div>Naziv apoteke:</div>
    <input type="text" asp-for="@Model.Apoteka.Naziv" />
    <div>Adresa apoteke:</div>
    <input type="text" asp-for="@Model.Apoteka.Adresa" />
    <div>Registarski broj apoteke:</div>
    <input type="text" asp-for="@Model.Apoteka.RegistarskiBroj" />

    <div>
        <br />
        <input type="submit" value="Dodaj" asp-page-handler="Dodaj" />
        <input type="submit" value="Nazad" asp-page="./Admin" />
    </div>
</form>

