@page "{id}"
@model BazeApoteka.Pages.ObradjeniReceptiModel
@{
    ViewData["Title"] = "ObradjeniRecepti";
}
<form method="post">
    <div>

    </div>
    <div>
        <div>___________________________________________</div>
        <input type="submit" value="Nazad" asp-page="./Farmaceut" />
    </div>
</form>


